.mydiv1{
    border: 5px solid grey   ;
    padding: 20px;
    
}

.mydiv2{
    background-color: lightgoldenrodyellow;
}

#ourWork{
    font-size: xx-large;
}


#firstImageName{
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#secondImageName{
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#thirdImageName{
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




#backGroundImage{
    position: relative;
    left: 55%;
    display: inline;
    border: 5px solid black;
    padding: 5px;
    background-color: white;
}

#titleName{
    color:darkmagenta ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration-thickness: 1000px;
    font-size: 65px;
    position: relative;
    bottom: 470px;  
}

#titleDiscription{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60;
    position: relative;
    left: 5cm;
    bottom: 13cm;
}

#viewWork{
    display: inline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    border: 2px solid;
    padding: 15px;
    border-radius: 13px;
    position: relative;
    left: 20%;
    bottom: 10cm;
    text-decoration-line: none;
   
}

#firstImage{
    display: inline;
    position: relative;
    left: 20%;
    border: 6px solid gray;

}



#secondImage{
    display: inline;
    position: relative;
    left: 20%;
    border: 6px solid grey;
    width: 750px;
}

#thirdImage{
    display: inline;
    position: relative;
    left: 20%;
    border: 6px solid grey;
    width:750px;
}

#fourthImage{
    display: inline;
    position: relative;
    left: 20%;
    border: 6px solid grey;
    width: 750 px;
}





